*.class
*.log
*.lock
#package files#
*.war
*.ear
*.jar
target/
# idea
.idea/
*.iml
*velocity.log*

# STS #
.apt_generated
.factorypath
.springBeans

### IDEA ###
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings/
bin/

*.log
tmp/

#rebel
*rebel.xml*